.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.nav-items >ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
}

.card > img {
    width: 100%;
}

.card {
    
    width: 200px;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;

}

.restauartCards{
    display: flex;
    flex-wrap: wrap;
}