.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    border: 5px solid black;
}

.nav-items >ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
}

.card img {
    width: 100%;
    height: 20vh;
}

.card {
    
    width: 200px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    word-wrap: break-word;

}

.restauartCards{
    display: flex;
    flex-wrap: wrap;
}